<!--<h1>Web#finish</h1>-->
<!--<p>Find me in app/views/web/finish.html.erb</p>-->
 <!--登記完成，快D share 下面條Link俾哂所有朋友啦-->

<!--記住越多人登記中獎機會越大-->
<hr>
<div id="fb-root"></div>

<div class="row main">
  <div class="large-12 columns" style="text-align: center">     登記完成，快D share 下面條Link俾哂所有朋友啦 <br>  <a href="http://lucky2015.myedu.hk/<%=@random%>"> http://lucky2015.myedu.hk/<%=@random%>
  </a><br>   記住朋友越多中獎機會越大 !    <br><br>
     第二步，Tag最少五個朋友<br>                  <br>
    <a name="fb_share" type="button" href="http://www.facebook.com/sharer.php?u=http:///<%=@random%>&media=http://.hk/poster.jpg&description={$desc}" class="joinFB"><img src="/share.png" width="30%" alt="Share the link on facebook"></a><br>
    <br>   第三步，Like我哋嘅專頁   <br>

         </div>
    </div>
